


@font-face 
  font-family: "Gotham-Light"
  src: url('./assets/fonts/Gotham-Light.woff')
  src: url('./assets/fonts/Gotham-Light.ttf')


@font-face 
  font-family: "Gotham-Bold"
  src: url('./assets/fonts/Gotham-Bold.woff') 
  src: url('./assets/fonts/Gotham-Bold.ttf')

  
* 
    padding: 0
    margin: 0
    

main 
    padding: 0
    margin: 0

#background__img
  width: 100vw

#searching__item
  font-family: "Gotham-Light"
  border: none
  box-shadow: 1px 1px #0074c7


h2 , h5 
  font-family: "Gotham-Bold"

p , .footer__item
  font-family: "Gotham-Light"
  font-weight: 600


.footer__item
  font-family: "Gotham-Light"
  font-weight: 500


.result__searching-item 
  color: #00497c

  :hover 
    color: black


